
#search-area{
	background: black;
	color: white;
	height: 500px;
	overflow: scroll;
}

.search-header{
	margin: 0 0 10% 10%;
	padding-top: 5%;
}


#map{
	overflow-x: hidden;
	width: 100%;
	height: 400px;
	background-color: grey;
}

.list-item:hover{
	border: 2px solid white;
	cursor: pointer;
}
